.idea/
.vscode/
.vim/

.venv/
venv/
__pycache__/
.coverage
.mypy_cache/
.pytest_cache/
.pytype/
*.pyc
.env*
.pyproject.toml
.local/

.python-version
hhfiles
.DS_Store

profile.*
*.pickle
*.db
test.sh
test.py

